.input  {
    height: 50px;
    border-radius: 12px;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;

}



input {
    background: none;
    border: none;
    margin-left: 12px ;
    flex : 1 ;
}

input:focus  {
    outline: none;
}


.in {
    display: flex;
    flex-direction: column;
}